/*
  collage-style.css
  Team 5
  Version 1.0
 */

body {
	background-color: white;
}

html, body, div#container {
	margin: 0;
}

div#container {
	/* centers the form elements horizontally and veritcally */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#collageTitle {
  float: top;
  color: black;
  font-size: 24pt;
	font-family: sans-serif;
}

#errorText {
	color: black;
  font-size: 18pt;
	font-family: sans-serif;
	text-align: center;
	width: 100%;
	margin-top: 100px;
	display: none;
}

#collageImg {
	width: 100%;
	height: auto;
	display: none;
}

#collageSpace {
  width: 60%;
  min-width: 800px;
  height: 40%;
  min-height: 600px;
  background-color: gray;
}

#topicForm {
  padding-top: 30px;
}

#topicForm #anotherTopicInput {
	/* adds border to input box */
	border-style: solid;
	border-color: #777777;
	border-width: 3px;

	height: 35px;
	width: 200px;

	padding-left: 5px;
}

#topicForm #anotherTopicSubmit {
	height: 42px;
	width: 140px;

	background-color: #777777; /* dark gray background color */
	color: white;

	margin-left: 10px;

	cursor: pointer;
}

#topicForm #anotherTopicSubmit:disabled {
	opacity: 0.5; /* faded out button when disabled */
	cursor: default;
}

#topicForm #exportCollageButton {
	height: 42px;
	width: 100px;

	background-color: #777777; /* dark gray background color */
	color: white;

	margin-left: 10px;

	cursor: pointer;
}

#previousCollages {
	margin-top: 25px;
	width: 60%;
	height: 100px;
  overflow: auto;
  white-space: nowrap;
}

.miniCollage {
	width: 75px;
	height: 75px;
	padding-top: 12.5px;
	padding-left: 12.5px;
	display: inline;
	margin: 0 auto;
}
